- form_for [:me, @avatar], :html => {:multipart => true} do |f|
  .tip.info_16
    = I18n.t(:uploaded_image_cropped)
  .p
    %label= I18n.t(:select_image_file)
    .bq= f.file_field :image_file
  .p
    %label= I18n.t(:or_image_url)
    .bq= f.text_field :image_file_url
  = close_modal_button :cancel
  = submit_tag :upload_image.t

