- groups = current_user.groups.recently_active
- if groups.any?
  - content_for(:left_column) do
    .margin-bottom
      = link_to :create_page.t, new_page_path, icon: 'plus'
    %h2.space-ui-bottom.first=:groups.t
    = render 'groups/list_with_committees',
      groups: groups,
        more: groups_directory_path

%h2.space-ui-bottom.first
  = :notices.t
  - if @notices.any?
    .dismiss-all-notices-btn.pull-right
      = dismiss_all_notices_button
- if @notices.any?
  %table#notice_list.shaded
    = render partial: 'me/notices/notice', collection: @notices
  .notices-pagination-wrapper
    = link_to (:see_all_link.t + '&nbsp;&raquo;').html_safe, me_notices_path
- else
  %ul.shaded
    %li= :none.t

= render 'layouts/section/heading_with_info', section: :recent_pages
= render 'common/pages/list', style: 'table'

