-# remote_form_for(:page, @page, :url => page_title_path(@page), :before => show_spinner('save_title'), :html => {:method => :get}) do
.simple_form
  - remote_form_for(:page, @page, :url => page_title_path(@page), :html => {:method => :put}, :before => show_spinner('save_title')) do
    .row.first
      %label= :title.t
      = text_field 'page', 'title', :class => 'h1'
    .row
      %label= :page_name_description.t
      = text_field 'page', 'name'
    .row
      %label= :summary.t
      = text_area 'page', 'summary', :size => '50x6'
    .form_buttons
      = close_modal_button(:cancel)
      = submit_tag :save_button.t, :name => 'save'
      = spinner('save_title')

