- content_for :right_sidebar do
  = render partial: 'pages/sidebar/sidebar'
.edit_vote
  #progress_area
    #progress{style: "display:none"}
      = spinner('progress', show: true)
      = 'Saving...'
    #instructions
      = :ranked_vote_instructions.t
  %h3 Voted on
  %ul#sort_list_voted.possible_list.plain
    - if @possibles_voted.any?
      = render partial: 'ranked_vote_possibles/possible', collection: @possibles_voted
      %li#none_voted{style: "display:none"}
        = :none.t
    - else
      %li#none_voted
        = :none.t
  %h3 Not voted on
  %ul#sort_list_unvoted.possible_list.plain
    - if @possibles_unvoted.any?
      = render partial: 'ranked_vote_possibles/possible', collection: @possibles_unvoted
      %li#none_unvoted{style: "display:none"}
        = :none.t
    - else
      %li#none_unvoted
        = :none.t
  %ul.possible_list.plain
    %li#add_possible_link= render partial: 'new_possible'
  = sortable_element 'sort_list_voted', handle: 'handle',
    containment: ['sort_list_voted', 'sort_list_unvoted'],
    url: sort_page_items_url
  = sortable_element 'sort_list_unvoted', handle: 'handle',
    containment: ['sort_list_voted', 'sort_list_unvoted'],
    url: sort_page_items_url
