- content_for :right_sidebar do
  = render partial: 'pages/sidebar/sidebar'
.edit_vote
  #progress_area
    #progress{style: "display:none"}
      = spinner('progress', show: true)
      = 'Saving...'
    #instructions
      = :ranked_vote_instructions.t
  %h3=I18n.t 'vote.voted_on'
  %ul#sort_list_voted.possible_list.plain
    = render partial: 'ranked_vote_possibles/possible', collection: @possibles_voted
    %li#none_voted{style: @possibles_voted.present? && "display:none"}
      = :none.t
  %h3=I18n.t 'vote.not_voted_on'
  %ul#sort_list_unvoted.possible_list.plain
    = render partial: 'ranked_vote_possibles/possible', collection: @possibles_unvoted
    %li#none_unvoted{style: @possibles_unvoted.present? && "display:none"}
      = :none.t
  %ul.possible_list.plain
    %li#add_possible_link= render 'ranked_vote_possibles/new'
  = sortable_element 'sort_list_voted', handle: 'handle',
    containment: ['sort_list_voted', 'sort_list_unvoted'],
    url: sort_ranked_vote_possibles_url(page_id: @page)
  = sortable_element 'sort_list_unvoted', handle: 'handle',
    containment: ['sort_list_voted'],
    url: sort_ranked_vote_possibles_url(page_id: @page)
