= content_tag_if_any(:div, :class => 'p first float_right') { leave_group_link }

%section{:class => 'table'}
  %table.fancy{:width => '100%'}
    %tr
      %th= :user.t
      %th= :profile_member_since.t
      %th
    = render :partial => '/groups/members/membership', :collection => @memberships
  .p= pagination_links(@memberships)
  - if @group.network?
    %table.fancy{:width => '100%'}
      %tr
        %th= :member_groups_of_network.t
        %th= :profile_member_since.t
        %th
      = render :partial => '/groups/members/membership', :collection => @membergroups
    .p= pagination_links(@membergroups)
