-#
-# The top-level global navigation drop-down menu tabs
-# Say that ten times fast.
-#
-# Template Dependency: layouts/global/nav/_people_menu
-# Template Dependency: layouts/global/nav/_groups_menu
-#
-# http://getbootstrap.com/components/#navbar
-#

#menu.navbar.navbar-default.navbar-inverse
  .navbar-header
    %a.navbar-brand(href="/")
    -# %img{:src => current_theme.url('logo.png')}
  %ul.nav.navbar-nav
    - @navigation[:global].each do |tab|
      - if tab.visible
        %li{class: "#{:active if tab.active} top-menu", id: "menu_#{tab.name}"}
          = link_to(tab.label, tab.url)
          = theme_render(tab.html)
  %ul.nav.navbar-nav.navbar-right
    - if logged_in?
      %li.tab.account.last
        = logout_link
    - else
      %li.tab.account.last
        = link_to_modal(:sign_in.t, {url: login_form_path, width: '400'}, {class: 'tab'})
  = render partial: '/layouts/global/nav/search'
