.page_row
  %span.page_info= page_info(page)
  %span.page_cover= page_cover(page)
  - if page.owner_id
    %span.page_owner= link_to_entity(page.owner, avatar: :tiny)
    %span.page_title
      = ("&nbsp;/ " + link_to(h(page.title), page_url(page))).html_safe
  - else
    %span.page_title= link_to h(page.title), page_url(page)
  - if (summary = page_summary(page)).present?
    %span.page_summary= summary

