= page_popup_form('notify') do
  .legend= :recipients.t
  = render(partial: 'add_recipient_widget', locals: {empty_box: true, mode: 'notify'})
  - if (@page.contributors_count || 0) > 0
    .checkbox.p
      %label
        = check_box 'recipients', ':contributors'
        = :notify_contribution.t.html_safe
  .checkbox.p
    %label
      = check_box 'recipients', ':participants'
      = :notify_current_access.t.html_safe

  .legend= :notification_message.t
  = render(partial: 'notification_message_form', locals: {forced_send: true})

  .buttons-right
    = spinner 'popup'
    = close_modal_button(:cancel)
    = submit_tag :notify_page_link.t, name: 'notify_button', class: 'btn btn-primary'
