-# locals to take
-
-# recipient -> the recipient to render the partial for
-# access    -> what access level do we want to give to the new participation
-# unsaved   -> flag: does this participation contain changes that need to be saved / is new
-# blank     -> include blank as an access level option.
-# alter_access -> if true, then we allow the user to change the access level of pre-existing participations.
-
- blank = false if blank.nil?
- access = 'admin' if access.nil?
- access_options = {blank: blank, selected: access}
- if unsaved.nil?
  - newitem = false
- else
  - newitem = unsaved
- newitem = true if @page and @page.new_record?
- alter_access = true if alter_access.nil?
-
- participation = (@page.participation_for(recipient) if @page)
-
- id = "share_recipient_%s" % recipient.name
- remove_function = "$('%s').remove()" % id
- tr_class = newitem ? 'unsaved' : ''

%tr{class: tr_class, id: id}
  %td{style:"width:100%"}
    = display_entity(recipient, avatar: 'xsmall', format: :both, block: true)
  %td
    - if (!alter_access && participation) || !may_admin?(@page)
      = hidden_field_tag "recipients[#{recipient.name}]", "1", id: id
      = display_access(participation)
    - else
      = select_page_access "recipients[#{recipient.name}][access]", access_options
  %td
    - if newitem
      = link_to_function_icon('tiny_trash', remove_function, title: I18n.t(:remove))

