- notify = true if notify.nil?
= page_popup_form('share') do
  .tab_area
    .share_page
      .legend= :share_page_recipients.t(page_class: :page.t)
      = render 'add_recipient_widget'
      - if notify
        %br
        .legend= :notification.t
        = render 'notification_message_form'
  .buttons-right
    = spinner 'popup'
    = close_modal_button
    = submit_tag :share.t, name: 'share_button', class: 'btn btn-primary'
