- profile = @group.profiles.public
- cache [profile, @group.version, current_language] do
  - if @group.committee?
    .margin-bottom
      = :this_is_committee.t(parent_group: link_to_group(@group.parent)).html_safe

  - if profile.summary.present?
    .profile-text
      = profile.summary_html

  - if profile.place.present?
    .margin-bottom
      %div
        %b= h profile.place

  .margin-bottom
    = :group_membership_count.t(count: @group.users.count)

%div
  = join_group_link
