- content_for :left_column do
  = link_to :create_page.t, new_page_path(owner: @group), icon: 'plus'
  %br
  = render 'sidecolumn'

- if should_render_group_wiki?
  = render 'wikis'

%h2.pages{class: first(:heading)}
  = :recent_pages.t
  %span.plain
    = link_to (:create_page.t + " &raquo;").html_safe, new_page_path(owner: @group)
.without_owner
  = render 'common/pages/list'

