-# %pre= wiki.section_locks.locks
- wiki = local_assigns[:wiki] || @wiki
- section = local_assigns[:section] || @section
- body = @body || wiki.body
- spinner_id = dom_id(wiki, 'spinner')

-# empty element used by javascript:
.image_popup#image_popup

-#
-# the wiki edit form -- this is used for both saving edits and force saving edits
-# if there was a lock or version error.
-#
-# note: data-wiki attribute is used by the auto-unlock javascript.
-#
= remote_form_for(:wiki, wiki, :url => wiki_path(wiki), :method => :put, :loading => show_spinner(spinner_id), :html => {'data-wiki' => wiki.id}) do |f|
  = f.hidden_field :version
  = hidden_field_tag :section, section if section && section != :document
  - if @error_message
    .alert.alert-error= @error_message.to_s
  = text_area_tag('wiki[body]', h(body), {:rows => wiki_textarea_rows(body), :class => 'full_width', :id => dom_id(wiki, 'textarea')})
  .right_buttons.p
    -# NOTE: there is an event listener on input.wiki_button
    = spinner(spinner_id)
    = f.submit :cancel_button.t, :name => 'cancel', :class => 'btn wiki_button'
    - if @show_force_save_button
      = f.submit :force_save_button.t, :name => 'force_save',
        :class => 'btn btn-primary wiki_button'
    - else
      = f.submit :save_button.t, :name => 'save',
        :class => 'btn btn-primary wiki_button'
    .float_left= formatting_reference_link
