#wiki-error-area
- # 16 here is a magic number. it might have to change if the font size of
- # the wiki text changes.
- rows = [ 20, (params[:height]||0).to_i/16 ].max
.image_popup#image_popup
= form_for(@wiki.new_record? ? [@group.becomes(Group), @wiki] : @wiki) do |f|
  = f.hidden_field :version
  = f.hidden_field :private # marks private group wikis during creation
  = f.text_area('body', :rows => rows, :cols => 64)
  %div
    = formatting_reference_link
    - if @wiki.document_open_for?(current_user)
      = f.submit :save_button.t, :name => 'save'
    - else
      = f.submit :break_lock_button.t, :name => 'break_lock'
    = f.submit :cancel_button.t, :name => 'cancel'
