.permission{:style=>"clear: both; padding: 20px"}
  %h2.accessors{:style=>"float: left"}
    = t permission.accessors
  %ul.list_as_rows.actions
    %li.add_description.action.revoke
      = link_to t(:delete), me_permission_path(permission), :method => :delete
      .description{:style=>"display: none"}
        = t :revoke_permission_description
  %ul.list_as_expanded.allowed_actions
    = render :partial => '/permissions/action', :collection => permission.actions(:with_class => true)
    %li
      = render '/permissions/action_form/', :permission => permission, :klass => :user

