-#
-# this form is loaded in a modalbox
-#
-# require: @entity
-#

= form_for [@entity, @avatar], html: {multipart: true} do |f|
  .tip.info_16
    = :uploaded_image_cropped.t
  .p
    %label= :select_image_file.t
    .bq= f.file_field :image_file
  .p
    %label= :or_image_url.t
    .bq= f.text_field :image_file_url
  .buttons.reverse
    = submit_tag :upload_image.t
    = close_modal_button :cancel

