%div#page_sidebar
  = render partial: 'pages/sidebar/command_group', collection: sidebar_command_groups

  -#
  -# TAGS
  -#
  - if @page.tags.any? || may_edit_page?
    .h3= I18n.t(:tags)
    %div.tags
      = page_tags
    %ul
      = edit_tags_line

  -#
  -# ATTACHMENTS
  -#
  - if @page.supports_attachments and !(attachment_content = page_attachments).nil?
    %section#attachments
      .h3= I18n.t(:attachments)
      .attachments
        = attachment_content
      %ul
        = edit_attachments_line

  -#
  -# CONTRIBUTOR LIST
  -#
  - if @page.group_participations.any? or @page.user_participations.any?
    %section#contributors
      - if @page.group_participations.any?
        .h3= I18n.t(:groups)
        %ul#groups.names
          - @page.sorted_group_participations.each do |participation|
            %li
              = link_to_group_participation(participation)
      - if @page.user_participations.any?
        .h3= I18n.t(:people)
        %ul#people.names
          - @page.sorted_user_participations.each do |participation|
            %li
              = link_to_user_participation(participation)

-# %section#attachments
-#   %h4 attachments
-#   %ul
-#     %li
-#       %a{:href => "#"}
-#         %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
-#         %img{:src=>"/images/new_ui/image-198sq.png", :alt=>" ", :height=>"10px", :width=>"10px"}
-#         %span filenamelongish.png
-#     %li
-#       %a{:href => "#"}
-#         %img{:src=>"/images/new_ui/image-32sq.png", :alt=>" ", :height=>"32px", :width=>"32px"}
-#         %img{:src=>"/images/new_ui/image-198sq.png", :alt=>" ", :height=>"10px", :width=>"10px"}
-#         %span shorterone.png


