-#
-# The task checkbox with task name and list of people.
-#
-# requires local: 'mode', which must be either :show or :toggle
-#
- if !current_user.may?(:edit, task.page)
  %label
    %input{type: 'checkbox', disabled: 'disabled', checked: task.completed? }
    = task.name
- else
  - next_state = task.completed? ? 'pending' : 'complete'
  - url = task_url(task, page_id: task.page)
  = spinbox_tag dom_id(task, :task), url,
    label: '',
    class: 'inline',
    checked: task.completed?, method: :put,
    with: "'task[state]=#{next_state}'"
  = task_link_to_details(task, mode)
%span.modified
  = task_modification_flag(task)
- if task.users.present?
  %span.people
    &bull;
    = task_link_to_people(task)
