= render 'tasks/checkbox', task: task, mode: :toggle

.space-ui-top{id: "#{dom_id(task,'details')}"}
  .space-ui
    .label.label-success.space-ui-right
      = :created.tcap
      = friendly_date(task.created_at)
    - if task.completed_at
      .label.label-primary
        = :completed.tcap
        = friendly_date(task.completed_at)
  = form_remote_tag( *options_for_task_edit_form(task) ) do
    .form-group= text_field 'task', 'name', class: 'form-control'
    .form-group= text_area  'task', 'description', rows: 4, class: 'form-control'
    .form-group= checkboxes_for_assign_people_to_task(task, task.user_ids)
    .buttons
      = close_task_edit_button(task)
      = delete_task_edit_button(task)
      = save_task_edit_button(task)
      = spinner(task)

