- available_help_locales =  [:en, :zh, :es, :pt, :ru, :de, :fr, :it, :pl, :el, :ca]
- locale = available_help_locales.include?(I18n.locale) ? I18n.locale : :en

.row
  .col-xs-offset-4.col-xs-4
    = language_select_tag

.row
  .col-xs-offset-1.col-xs-5
    %img{src: '/theme/riseup/images/riseup.png', style: 'padding-top: 30px; padding-bottom: 4px'}
    %div{style: 'font-size: 1.1em; line-height: 1.5;'}
      =t 'riseup.run_by_html', description: t('riseup.description'),
        provider: link_to('riseup.net', 'https://riseup.net'),
        default: 'Run by riseup.net'
      %ul.styled
        %li= link_to t('riseup.privacy_policy'),
          "https://help.riseup.net/#{locale}/privacy-policy"
        %li= link_to t('riseup.about_us'),
          "https://help.riseup.net/#{locale}"
        %li= link_to t('riseup.email_accounts'),
          "https://mail.riseup.net/"
        %li= link_to t('riseup.mailing_lists'),
          "https://lists.riseup.net/"
        %li= link_to t('riseup.donate'),
          "https://help.riseup.net/#{locale}/donate"
  .col-xs-5
    %img{src: '/theme/riseup/images/crabgrass.png', style: 'padding-top: 13px; padding-bottom: 4px'}
    %div{style: 'font-size: 1.1em; line-height: 1.5;'}
      =t 'crabgrass.powered_by_html',
        description: t('crabgrass.description_html'),
        default: 'Powered by crabgrass'
      %ul.styled
        %li= link_to t('crabgrass.report_a_bug'),
          "https://labs.riseup.net/report-a-bug"
        %li= link_to t('crabgrass.request_a_feature'),
          "https://labs.riseup.net/request-a-feature"
        %li= link_to t('crabgrass.help_pages'),
          "https://we.riseup.net/crabgrass/table-of-contents"
        %li= link_to t('crabgrass.get_involved'),
          "https://we.riseup.net/cgdev/get-involved"

