= pagination_links @responses
%table#survey_answers.pretty
  %tr
    %th user
    %th created
    %th rating
    - (questions=@survey.questions[0..0]).each do |question|
      %th= truncate(question.label)
  - @responses.each do |resp|
    - url = response_path(resp, page_id: @page)
    %tr{class: cycle("odd","even")}
      %td= resp.user.login if resp.user_id
      %td= friendly_date resp.created_at
      - if may_view_survey_response_ratings?(resp)
        %td= resp.rating.round(2)
      - else
        %td —
      - questions.each do |question|
        %td
          - if may_view_survey_question?(resp, question)
            - answer = resp.answers.detect{|a|a.question_id == question.id}
            = answer && answer.value.present? ? truncate(answer.value, length: 250) : ' '
            %span.more
              = link_to(:see_whole_response_link.t, url)
          - else
            \—
= pagination_links @responses
%br/
