= page_popup_form 'trash', url: page_trash_path(@page) do
  .radio
    %label.radio
      = radio_button_tag 'type', 'delete', true, class: 'radio'
      = I18n.t(:destroy_page_via_trash)
      %span.help-block.small= I18n.t(:destroy_page_via_trash_info)
    - if may_destroy_page?
      %label.radio
        = radio_button_tag 'type', 'destroy', false, class: 'radio'
        = I18n.t(:destroy_page_via_shred)
        %span.help-block.small= I18n.t(:destroy_page_via_shred_info)
  .buttons-right
    = spinner 'popup'
    = close_modal_button(:cancel)
    = submit_tag I18n.t(:delete), name: 'delete_button', class: 'btn btn-danger'
