- # edit_loading_id = "spinner_#{post.id}"
- # stars = post.ratings.with_rating(1).size
- # @page ||= post.discussion.page # in case @page is not already set

%div.post_body{:id => post.body_id}
  %div.float_right
    = edit_post_link(post)
    = #star_post_action(post)
    = # call_hook :post_actions, {:post => post}
  = post.body_html

