-#
-# requires:
-#   posts_path(*arg) -- must be defined, for creating.
-#
-# options:
-#   last_id -- set in_reply_to_id, which currently is just used for helping
-#              to generate the activity feed.
-#   remote  -- if not nil, generate an ajax form.
-#

- remote = local_assigns[:remote] || false
= form_for @post, url: posts_path, remote: remote,
  html: {onsubmit: show_spinner('post')} do |f|
  = hidden_field_tag('in_reply_to_id', last_id) if last_id

  -# not sure if these are still used, or how they are used:
  =# hidden_field_tag('page_id', @page.id) if @page
  =# hidden_field_tag('paging', @discussion.last_page if @discussion

  = f.text_area :body, rows: 8, class: 'form-control'
  .buttons-right
    .float_left= formatting_reference_link
    - if remote
      = spinner('post')
    = submit_tag :post_message.t, name: 'post_message', class: 'btn btn-primary'

