- color = cycle('shade_odd', 'shade_even', :name => 'post_row')
- author_style = "background-image: url(#{avatar_url_for(post.user,'small')})"
- last = local_assigns[:last] || false
- top_spacer_class = once?('post_spacer') ? "first round-top" : ""

%tbody{:id=>post.dom_id, :class => color}
  %tr{:class=>"post_spacer_top"}
    %td{:colspan => 2, :class => top_spacer_class}
      -# this is for linking to this post via the url, so
      -# we really do want a hypen and post.id, rather than dom_id.
      %a{:name => "post-#{post.id}"}= '&nbsp;'.html_safe
      - if last
        %a{:name => "last"}= '&nbsp;'.html_safe
  %tr{:class => "post"}
    %td.post_author
      %div.author{:style => author_style}
        %div.username= link_to_user post.user
        %div.nowrap.date= created_modified_date(post.created_at, post.updated_at)
    %td{:class => "post_body shy_parent"}
      = render :partial => 'common/posts/default/body', :locals => local_assigns
  %tr{:class => "post_spacer_bottom"}
    %td{:colspan => 2, :class => ''}= '&nbsp;'.html_safe

