- author_style = "background-image: url(#{avatar_url_for(post.user,'small')})"
- last = local_assigns[:last] || false
- top_spacer_class = once?('post_spacer') ? "first round-top" : ""

%tbody[post]
  %tr.post_spacer_top
    %td{colspan: 2, class: top_spacer_class}
      -# this is for linking to this post via the url, so
      -# we really do want a hypen and post.id, rather than dom_id.
      %a{name: "post-#{post.id}"}= '&nbsp;'.html_safe
      - if last
        %a{name: "last"}= '&nbsp;'.html_safe
  %tr.post
    %td.post_author
      %div.author{style: author_style}
        %div.username= link_to_user post.user
        %div.nowrap.date.created-link
          = created_date(post.created_at, post.updated_at, "#post-#{post.id}")
        %div.nowrap.date.hide.detailed-link
          = created_modified_date(post.created_at, post.updated_at, "#post-#{post.id}")
    %td.post_body.shy_parent{stars_for(post)}
      = render 'common/posts/default/body', local_assigns
  %tr.post_spacer_bottom
    %td{colspan: 2, class: ''}= '&nbsp;'.html_safe

