= form_for @page, url: page_title_path(@page), remote: true,
  html: {method: :put, data: {spin: 'save_title'}} do
  = formy(:simple_form) do |f|
    - f.row do |r|
      - r.label :title.t
      - r.input text_field('page', 'title', class: 'big form-control')
    - f.row do |r|
      - r.label :page_name_description.t
      - r.input text_field('page', 'name', class: 'form-control')
    - f.row do |r|
      - r.label :summary.t
      - r.input text_area('page', 'summary', rows: '6', class: 'form-control')
  .buttons-right.first
    = spinner('save_title')
    = close_modal_button(:cancel)
    = submit_tag(:save_button.t, name: 'save', class: 'btn btn-primary')

