- notify = true if notify.nil?
= page_popup_form('share') do
  .share_page
    %h2.first= :share_page_recipients.t(page_class: :page.t)
    = render partial: 'pages/shares/add_recipient_widget'
    - if notify
      %h2= :notify_page_link.t
      %table.notify
        = render partial: 'pages/shares/notification_message_form'

  .buttons
    = spinner 'popup'
    = close_modal_button(:cancel)
    = submit_tag :share_button.t, name: 'share_button'

