.p
  = friendly_size(@asset.size) + ","
  = I18n.t(@asset.format_description.to_sym, :default => @asset.format_description) 
  - if @asset.ext
    = "(" + @asset.ext + ")"

- previews = @asset.thumbnails.preview_images
- if previews.any?
  .p
    = :preview.t + ':'
    = previews.collect{|preview| link_to preview.name, preview.url}.join(', ')

- if @page.created_by
  .p
    = :created_by.t
    = link_to_user(@page.created_by, :avatar => 'tiny', :class => 'inline')
    = friendly_date(@page.created_at)

