.space-ui
  = friendly_size(@asset.size) + ","
  = I18n.t(@asset.format_description.to_sym, default: @asset.format_description)
  - if @asset.ext
    = "(" + @asset.ext + ")"

  - previews = @asset.thumbnails.preview_images
  - if previews.any?
    %br
      = :preview.t + ':'
      = previews.collect{|p| link_to p.name, p.url}.join(', ').html_safe

  - formats = @asset.thumbnails.other_formats
  - if formats.any?
    %br
      = :other_formats.t + ':'
      = formats.collect{|f| link_to f.name, f.url}.join(', ').html_safe

- if @page.updated_by
  .space-ui
    = :updated_by.t
    = link_to_user(@page.updated_by, avatar: 'tiny', class: 'inline')
    = friendly_date(@page.updated_at)

