-if @group.public?
  %h2= :public_wiki.t
  - if @public_wiki
    = formy(:tabs, class: 'space-ui') do |f|
      - wiki_tabs(f, @public_wiki, active: 'show')
    = render file: "wikis/wikis/show", locals: {wiki: @public_wiki}
  - else
    .p= create_group_wiki_link('public')
%h2= :private_wiki.t
- if @private_wiki
  = formy(:tabs, class: 'space-ui') do |f|
    - wiki_tabs(f, @private_wiki, active: 'show')
  = render file: "wikis/wikis/show", locals: {wiki: @private_wiki}
- else
  .p= create_group_wiki_link('private')
