- content_for :right_sidebar do
  = render partial: 'pages/sidebar/sidebar'

%h2= I18n.t(:pending_tasks).capitalize
%ul#sort_list_pending.list-group.stripe
  = render @pending
%ul#no_pending_tasks.list-group{:style => ('display:none' if @pending.any?)}
  %li.list-group-item
    = :no_pending_tasks.tcap

- if current_user.may?(:edit, @page)
  = render partial: 'tasks/new', locals: {page: @page}

%h2= I18n.t(:completed_tasks).capitalize
%ul#sort_list_completed.list-group.stripe
  = render @completed
%ul#no_completed_tasks.list-group{:style => ('display:none' if @completed.any?)}
  %li.list-group-item
    = :no_completed_tasks.tcap

= sortable_element 'sort_list_pending', handle: 'handle',
  url: sort_tasks_url(page_id: @page)
= sortable_element 'sort_list_completed', handle: 'handle',
  url: sort_tasks_url(page_id: @page)

