- @avatar_in_banner = false
- anything = false

- if @profile
  %img.margin-bottom{ style: "display:block; width: 100% !important; height: auto !important",
    src: avatar_url_for(@user, :huge)}

  - if @profile.summary.present?
    - anything = true
    .profile-text
      = @profile.summary_html

  - if @profile.organization.present?
    - anything = true
    .margin-bottom
      =h @profile.organization
      - if @profile.role.present?
        %br
        %i=h @profile.role

  - if @profile.place.present?
    - anything = true
    .margin-bottom
      %b= h @profile.place

  - unless anything
    = :private.t

%hr
= profile_contact_link

%br
= profile_send_message_link
