-#
-# this login form is used inline on the login page and for the login modal popup.
-#
-# for the popup, the class 'nofocus' tells modalbox to skip the element for
-# tab focus.
-#

.login_form
  = form_tag(login_path, id: "entry") do
    .cookie_warning.alert.alert-danger{style: "display: none"}
      = :cookie_disabled_warning.t
    %div
      %label(for = 'login')= :username.t
      %span= link_to :signup_link.t,
        new_account_path(redirect: request.original_fullpath),
        class: 'nofocus'
      = text_field_tag 'login', params['login'], id: 'login', tabindex: 1, class: 'form-control'
    %div.password
      %label(for = 'password')= :login_password.t
      %span= link_to(:forgot_password_link.t, reset_password_path, class: 'nofocus')
      = password_field_tag 'password', '', {id: 'password', tabindex: 2, class: 'form-control'}
    %div.buttons
      %input{ type: 'submit', value: :sign_in.t, tabindex: 3, class: 'btn btn-primary' }
  %div
    = javascript_tag "Form.focusFirstElement('entry');"
