%table.styled
  %tr
    %th Version
    %th Date
    %th Input File
    %th Output File
    %th Action

  - @asset.versions.reverse.each do |version|
    - @version = version
    - row_class = cycle('odd', 'even')
    - id = 'asset_%s_version_%s' % [@asset.id, version.version]
 
    %tr{:class => row_class, :id => id}
      %td{:class => 'version'}
        = @version.version
      %td{:nowrap=>"nowrap", :nobreak=>"nobreak"}
        = friendly_date(@version.updated_at)
      %td{:nowrap=>"nowrap", :nobreak=>"nobreak"}
        = link_to('input', @version.url)
      %td{:nowrap=>"nowrap", :nobreak=>"nobreak"}
        = processing_link
      %td{:nowrap=>"nowrap", :nobreak=>"nobreak", :class => 'form_buttons'}
        = edit_button
        = delete_button


