- content_for :title do
  %h1= :create_a_new_thing.t(:thing => group_type.t.downcase)

.p.icon.medium{:class => "#{group_type}_48"}
  = "#{group_type}_description".to_sym.t

.p
  %b= :committee_choose_group.t

.two_column_float
  - current_user.groups_and_networks.each do |group|
    - next unless may_create_group_committee? group
    .column_item
      - if group_type == :committee
        - url = new_group_committee_path(group)
      - elsif group_type == :council
        - url = new_group_council_path(group)
      .p= link_to_group(group, :url => url, :avatar => 'xsmall')
