- content_for :left_column do
  %h2
    = @wiki.label.t
  %h3
    = :versions.t
  = link_to_group @group, :label => :back.t
  %hr/
  %div
    - # need to figure out what to call div above. Now CSS is broken/lacking
    %table.fancy
      %tr
        %th #
        %th=:created.tcap
        %th
          .big_screen=:person.tcap
          .small_screen
            %span.user_16
        - if @wiki.versions.count > 1
          %th
            &nbsp;
      = render :partial => '/wikis/versions/version_to_list', :collection => @versions
    = pagination_links(@versions)

%div[@wiki]
  = render :partial=>'show'
