-# see permissions_helper for the source of this data


%div.debug

  .p
    %h3 Stylesheet
    = link_to 'screen.css', current_theme.stylesheet_url('screen'), :target => '_blank'
    = link_to '(refresh)', current_theme.stylesheet_url('screen_refresh'), :target => '_blank'

  #debug_history.p
  %script
    -# $('debug_history').update(JSON.stringify({url:History.getState().url, data:History.getState().data}));

  .p
    %h3 Become user
    - form_tag(debug_become_path) do
      %label Login
      = text_field_tag('id')
      = hidden_field_tag('url', request.path)
      = submit_tag("Become")
  
  %h3 Deciding
  %ul
    - permission_log.each do |key, info|
      %li.method
        METHOD FOUND:
        = info
        %br/
        %br/
  %br/
  %br/

  %h3 All
  - permission_methods = @controller.methods.grep(/^may_.*\?$/).group_by{|method|method.sub(/^.*_/,'')}.sort_by{|elem|elem[0]}
  - permission_methods.each do |section|
    %ul
      %li.first
        = section[0]
      - section[1].each do |method|
        %li= method
    %br/
