-#
-# requires:
-#   post
-#   post_path must be defined.
-#

%div.post_body{id: post.body_id}
  = form_for post.becomes(Post), url: post_path(post), remote: true, method: :put,
    html: {onsubmit: show_spinner('edit_post')} do |f|
    = f.text_area :body, rows: 8, class: 'form-control'
    .buttons-right
      = spinner('edit_post')
      = submit_tag :cancel.t, name: 'cancel', class: 'btn btn-default'
      = link_to :delete_button.t, post_path(post),
        remote: true,
        data: {method: 'DELETE'},
        class: 'btn btn-danger'
      = submit_tag :save_button.t, name: 'save', class: 'btn btn-primary'
      .float_left= formatting_reference_link
