-#
-# requires:
-#   post
-#   post_path must be defined.
-#
%div.post_body{id: @post.body_id}
  = form_for @post.becomes(Post), url: post_path(@post) do |f|
    = f.text_area :body, rows: 8, class: 'form-control'
    .buttons-right
      = submit_tag :cancel.t, name: 'cancel', class: 'btn btn-default'
      = submit_tag :delete.t, name: 'destroy', class: 'btn btn-danger'
      = submit_tag :save_button.t, name: 'save', class: 'btn btn-primary'
      .float_left= formatting_reference_link
