-#
-# force either a left or right side column.
-# 

- if content_for?(:left_column)
  #local.sidecolumn.on_left
    #column_left
      = yield :left_column
    #column_center
      = render :partial => 'layouts/local/content'

- elsif content_for?(:right_column)
  #local.sidecolumn.on_right
    #column_center
      = render :partial => 'layouts/local/content'
    #column_right
      = yield :right_column

- else
  #local.full_width
    #column_center
      = render :partial => 'layouts/local/content'

