%h2.icon.medium.page_gallery_48.title
  = I18n.t :edit_gallery

.info-edit-gallery
  = I18n.t :edit_gallery_explaination

= render :partial => 'gallery/notify_area'
#support-notice

= render :partial => 'gallery/draggable_images'

= render :partial => 'common/asset_upload', :locals => { :target => @page }
