%h2.icon.medium.page_gallery_48.title
  = I18n.t :edit_gallery

.info-edit-gallery
  = I18n.t :edit_gallery_explaination

.action
  = upload_images_link

= render :partial => 'gallery/notify_area'

= render :partial => 'gallery/draggable_images'
