= form_remote_tag(:url => group_memberships_path, :html => {:id => 'add_member_form'}, :loading => show_spinner('add')) do
  = input_append(autocomplete_members_field_tag('user_name', :group => @group.parent.name, :onkeypress => ''), submit_tag(:add_button.t, :class => 'btn'))
  = spinner('add')
  %span.help-block= :add_members_to_committee.t
= focus_form('add_member_form')