- if current_user.member_of? @group
  = public_wiki_toggle
  = spinner(@public_wiki) if @public_wiki
  = private_wiki_toggle
  = spinner(@private_wiki) if @private_wiki
- elsif @wiki
  %div[@wiki]
    -# show full wiki not preview:
    = render :partial => 'common/wiki/show'
  = spinner(@wiki)
