- if current_user.member_of? @group
  %h2.left= :group_wikis.t
  .left
    = wiki_toggles
  = wiki_with_tabs(@private_wiki)
  = wiki_with_tabs(@public_wiki)
- elsif @wiki
  %div[@wiki]
    -# show full wiki not preview:
    = render :partial => 'common/wiki/show'
  = spinner(@wiki)
