- content_for :left_column do
  = render partial: 'sidecolumn'

- if should_render_group_wiki?
  = render partial: 'wikis'

%h2.pages{class: first(:heading)}
  = :recent_pages.t
  %span.plain
    = link_to (:create_page.t + " &raquo;").html_safe, new_page_path(owner: @group)
.without_owner
  = render partial: 'common/pages/list'

