- content_for :left_column do
  = render :partial => 'sidecolumn'

- if @profile.private?
  = private_wiki_toggle
  = spinner(@wiki) if @wiki
  = public_wiki_toggle
  = spinner(@public_wiki) if @public_wiki
- else
  = render :partial => 'common/wiki/show', :locals => {:preview => true} if @wiki
%hr

- @pages = Page.paginate_by_path('/descending/updated_at/limit/30/', options_for_group(@group), pagination_params)

%h2.p.first= :recent_pages.t
= render :partial => 'common/pages/list'

