-#
-# This is the default partial that handles displaying the content.
-#
-# yield(:content) in case we are rendering a nested layout
-#
-# the optional #title_box is an area above article#content where we display
-# information about the page.
-#

- if content_for?(:content)
  - content = yield(:content)
- else
  - content = yield

- if content_for?(:title)
  #title_box.round-top
    #title= content_for(:title)
  %article#content.round-bottom
    = content

- elsif content_for?(:before_content)
  = yield(:before_content)
  %article#content.round-bottom
    = content

- else
  %article#content.round
    = content
