#title_box{:class => (@options.show_tabs ? 'with_tabs' : '')}
  = render :partial => 'layouts/local/page/title'
  - if @options.show_tabs
    = render :partial => "#{@page.controller}/tabs"
%article#content
  = yield
  - if @options.show_posts
    = render :partial => 'common/posts/list',
      :locals => {:style => 'table',
        :remote => true,
        :create_url => may_create_page_post? ? page_posts_path(@page) : false,
        :edit_url => lambda{|post| edit_page_post_path(@page, post)}}

