-#
-# this is a partial for the top search controls.
-# which contain a text filter field and view controls.
-#
-# REQUIREMENTS
-#
-#   page_search_path must be defined.
-#
-# NOTES
-#
-#   form_remote_tag does not support the :with option, so we must use some other method.
-#   (here we use link_to_remote).
-#
-#   because we are not using form_remote_tag, we eat the return key and trigger a click
-#   to the submit link.
-#
-#   if the contents of the search text field are empty, then the params get set to :remove
-#   instead of :add. ie params[:add] -> '/text/:text/'.
-#   The :text is replaced with params[:text] by the path parser.
-#

-#
-# options for text filter form
-#
- add_or_remove = "($('search_text_field').value ? 'add' : 'remove')+'=/text/:text/'"
- with = "#{add_or_remove}+'&'+FilterPath.encode()+'&'+Form.serialize($('page_search_form'))"
- text_filter_submit_options = {url: page_search_path, with: with}
- clear_filter_options = {url: page_search_path(remove: '/text/:text'), with: 'FilterPath.encode()'}
- key_pressed = "if (enterPressed(event)) {$('search_submit').onclick(); return false;}"

#page_search_table
  %div
    = # search_view_toggle_links(page_search_path)
    = spinner('view_toggle')
  %div.p
    = form_tag '', id: 'page_search_form', class: 'form-inline' do
      .input-group
        %span.input-group-btn
          = link_to_remote icon_tag('tiny_clear'), clear_filter_options, class: 'btn btn-default btn-sm'
          -# = link_to_remote '<span class="close">&times;</span>', clear_filter_options, :class => 'btn btn-default btn-sm'
        = text_field_tag 'text', '', size: 40, id: 'search_text_field', onkeypress: key_pressed, placeholder: :search.t, class: 'form-control input-sm'
        %span.input-group-btn
          = link_to_remote icon_tag('magnifier'), text_filter_submit_options, id: 'search_submit', class: 'btn btn-default btn-sm'

= focus_form 'page_search_form'
