- cache [current_theme, language_direction.to_s] do
  %meta{ name:"description", content:""}
  %meta{ name:"keywords", content:""}
  %meta{"http-equiv"=>"Content-Type", content:"application/xhtml+xml;charset=utf-8"}
  = favicon_link
  / begin styling
  = crabgrass_stylesheets
  / end styling
  / begin scripts
  = crabgrass_javascripts
  / end scripts
= csrf_meta_tag
%title
  =h html_title
=# call_hook :html_head
= yield :html_head

