- content_for :title do 
  %h1= :signup_title.t
  = :signup_info.t(:sign_up => :signup_button.t)

= formy(:table_form) do |f|
  - f.row do |r|
    - r.input language_select_links

= form_for(:user, :url => account_path(:action => 'create'), :html => {:id => 'signup_form'}) do |user|
  = formy(:table_form) do |f|
    - f.row do |r|
      - r.label user.label(:login, :signup_login_name.t)
      - r.input user.text_field(:login)
    - f.row do |r|
      - r.label user.label(:password, :signup_password.t)
      - r.input user.password_field(:password)
    - f.row do |r|
      - r.label user.label(:password_confirmation, :signup_confirm_password.t)
      - r.input user.password_field(:password_confirmation)
    - f.row do |r|
      - r.label user.label(:email, :signup_email.t)
      - r.input user.text_field(:email)
      - unless current_site.require_user_email
        - r.info :signup_email_info.t
    - # call_hook :signup_form_password
    - f.buttons submit_tag(:signup_button.t)
  
  - if params[:redirect]
    = hidden_field_tag('redirect', params[:redirect])

= javascript_tag 'document.getElementById("user_login").focus();'

