
%tr{id: dom_id(notice)}
  %td.nowrap
    .hidden-xs
      %span.label.label-primary= notice.display_label
      .small= friendly_date notice.created_at
  %td.icon.small{style: avatar_style(notice, 'small')}
    %div
      =h embold_links notice.display_title
      %br
      - if notice.display_body_as_quote?
        %i= strip_tags(notice.display_body).truncate(300).html_safe
      - else
        = embold_links(notice.display_body)
  %td.nowrap.align_right.reflow
    = spinner(notice, align: :middle)
    = link_to notice.button_text, noticable_url(notice),
      class: 'btn btn-sm btn-default'
    = link_to(:dismiss.t, me_notice_path(notice),{remote: true, method: 'delete', onclick: show_spinner(notice), class: 'btn btn-sm btn-default'})

