.p.first
  = toggle_bug_links({:label => 'New Notices', :url => me_notices_path, :active => params[:view].empty?}, {:label => 'Old Notices', :url => me_notices_path(:view=>'old'), :active => params[:view] == 'old'})

- if @notices.empty?
  %ul.shaded
    %li= :none.t
- else
  = top_pagination_links @notices
  %table#notice_list.shaded
    = render :partial => 'notice', :collection => @notices
  = bottom_pagination_links @notices
