.h2.first=:notices.t
- if @notices.empty?
  %ul.shaded
    %li= :none.t
- else
  = top_pagination_links @notices
  %table#notice_list.shaded
    = render partial: 'notice', collection: @notices
  = bottom_pagination_links @notices

.h2=:recent_pages.t
= render partial: 'common/pages/list', locals: {style: 'table'}
