.h2.first=:notices.t
- if @notices.empty?
  %ul.shaded
    %li= :none.t
- else
  = pagination_links @notices
  %table#notice_list.shaded
    = render partial: 'notice', collection: @notices
  = pagination_links @notices

= render 'layouts/section/heading_with_info', section: :recent_pages
= render partial: 'common/pages/list', locals: {style: 'table'}
