- color = cycle('shade_odd', 'shade_even')
- author_style = "background-image: url(#{avatar_url_for(post.user,'small')})"

%tbody{:id=>post.dom_id}
  %tr{:class=>"post_spacer_top #{color}"}
    %td{:colspan => 2}
      %a{:name=>post.dom_id}= '&nbsp;' 

  %tr{:class => "post #{color}"}
    %td.post_author
      %div.author{:style => author_style}
        %div.username= link_to_user post.user
        %div.date= created_modified_date(post.created_at, post.updated_at)
    %td{:class => 'post_body', :id => "post-body-#{post.id}"}
      = render :partial => 'common/posts/table/body', :locals => local_assigns
  %tr{:class => "post_spacer_bottom #{color}"}
    %td{:colspan => 2}= '&nbsp;'

