%table.styled{width: '100%'}
  %tr
    %th= :name.t
    %th{width:'16px'} &nbsp;
    %th= :access.t

  - if (gparts = @page.group_participations).any?
    %tr{class: cycle("odd","even")}
      %td{colspan:'4'}
        %b= I18n.t(:groups)

    - gparts.each do |gpart|
      %tr{class: cycle("odd","even"), id: dom_id(gpart)}
        = render 'page/participations/permission_row', participation: gpart

  - uparts = @page.sorted_user_participations
  - if uparts.any?
    %tr{class: cycle("odd","even")}
      %td{colspan:'4'}
        %b= :users.t

    - uparts = uparts.paginate(pagination_params(per_page: pagination_size))
    - uparts.each do |upart|
      %tr{class: cycle("odd","even"), id: dom_id(upart)}
        = render 'page/participations/permission_row', participation: upart

    - if uparts.total_entries > pagination_size
      %tr{class: cycle("odd","even")}
        %td{colspan:'4'}
          = participation_pagination_links(uparts, tab: 'permissions')
