%ul#search_controls_possible.page_search_controls
  - unless show_all?
    = filter_checkbox_li_tag :add, filter_all
  - for section in search_filter_sections
    - filters = possible_filters_for_section(section).select{|filter| !filter_excluded?(filter)}
    - id = "#{section}_section"
    - if filters.any?
      %li
        .section= section.tcap
        %ul
          - for filter in filters
            = filter_checkbox_li_tag :add, filter

-# for expanding sections:
  = link_to_toggle(section.to_s, id, :open => opened_section?(section))
  %ul{:id => id, :style => (opened_section?(section) ? '' : 'display:none')}
    - for filter in SearchFilter.filters_for_section(section)
      - next if filter_active?(filter)
      %li
        = filter_checkbox_li_tag :add, filter


