.list-group.space-ui
  .list-group-item
    .pull-right
      = next_version_link
      = previous_version_link
    %span.badge{:style => 'float: none'}
      = :version.t
      = @version.version
    .space-ui-top.icon.small.single{style: avatar_style(@version.user, 'small')}
      = :created_by_user_on.t(user: link_to_name(@version.user.try(:name)), when: friendly_time(@version.updated_at)).html_safe


.wiki.clear{data: {diff: @former && wiki_version_path(@wiki, @former.version)}}
  = @version.body_html
