= refresh_sidebar_on_close
- assets = @page.assets
%h2.first{:class => (:hidden if assets.blank?)}= :current_attachments.t
%ul#assets_list
  = render :partial => '/common/assets/asset_as_li', :collection => assets
%br.clear

%h2= :add_new_attachment.t
= asset_upload_form_for(@page)
.buttons
  - # this used to include some ajax form to change the page cover.
  = close_modal_button
