= refresh_sidebar_on_close

%h2.first= :current_attachments.t
%p
  = :use_radio_buttons_to_select_page_cover.t
  %table.styled
    - if @page.assets.any?
      = asset_rows
      %tr
        %td
          = remove_cover_asset_checkbox
        %td
          = :none.t
          %td  
          %td  
    - else
      %tr
        %td
          (#{I18n.t(:none)})
  %h2= :add_new_attachment.t
  - form_for( :asset, Asset.new(), :url => {:controller => 'pages/assets', :action => 'create', :page_id => @page.id}, :html => {:multipart => true}) do |f|
    = f.file_field 'uploaded_data', :size => '20'
    \ #{submit_tag :upload.t}
    %br/
    %label
      = check_box_tag('use_as_cover', "1")
      = :use_as_cover.t
  .buttons
    - form_remote_tag( :url => page_assets_path(@path), :page_id => @page.id, :loading => show_spinner('popup')) do
      = spinner 'popup'
      = close_modal_button
