- @navigation = current_navigation()
- @local_layout ||= 'sidecolumn'
!!!
%html{dir:language_direction}

  %head
    = render '/layouts/global/head'

  %body{class:language_direction}
    #wrap
      #masthead
        = render '/layouts/global/nav/top_menus'
      #middle{class: [context_class, local_class]}
        = render '/layouts/context/banner'
        #middle_container.container-fluid
          = render '/layouts/local/index'
      #footer
        #footer_container.container-fluid
          #footer_content
            = render '/layouts/global/footer'
      = display_alert_messages

