!!!
%html{:dir=>language_direction}
  = render :partial => '/layouts/global/head'
  %body{:class=>language_direction}
    = render :partial => '/layouts/global/masthead'
    #container
      = render :partial => '/layouts/global/messages'
      = render :partial => '/layouts/context/banner'
      = render :partial => '/layouts/local/content'
      = render :partial => '/layouts/global/footer'

