- @navigation = current_navigation()
- @local_layout ||= 'sidecolumn'
!!!
%html{:dir=>language_direction}

  %head
    = render :partial => '/layouts/global/head'

  %body{:class=>language_direction}

    #masthead
      #masthead_container
        #masthead_content
          = render :partial => '/layouts/global/masthead_content'
        #global_nav{:class => global_nav_class}
          = render :partial => '/layouts/global/nav/top_menus'
    #middle{:class => [context_class, local_class]}
      #middle_container.container-fluid
        = render :partial => "/layouts/context/banner"
        = render :partial => "/layouts/local/index"

    #footer
      #footer_container.container-fluid
        #footer_content
          = render :partial => "/layouts/global/footer"

    = display_alert_messages

