- @local_layout = 'sidecolumn'

- #
- # PAGE SIDEBAR
- #
- if @options.show_sidebar
  - content_for(:right_column) do
    %nav#sidebar
      = render(:partial => 'pages/sidebar/sidebar')

- #
- # PAGE TITLEBOX
- #
- # #title_box handles color & border
- # #title handles text & padding
- #
- content_for(:before_content) do
  #title_box{:class => [(@options.show_tabs ? 'with_tabs' : ''), 'round-top']}
    #title.page_title.shy_parent
      = render_page_title
    - if @options.show_tabs
      = render :partial => "#{@page.controller}/tabs"

- #
- # PAGE CONTENT
- #
- content_for(:content) do
  = yield
  - if @options.show_posts
    = render :partial => 'common/posts/list', :locals => {:style => 'table', :remote => true}

= render :file => 'layouts/application'
