.col-lg-center
  %h1= :reset_password.t
  .p= :forgot_password_text.t

  = form_tag({}, method: :post) do
    .p= :forgotten_email_address.t
    .p= text_field_tag :email, "", class: 'form-control', placeholder: :email.t
    .p= submit_tag :reset_password.t, class: 'btn btn-primary'