%h2= :forgot_password_link.t
.p= :forgot_password_text.t

= form_tag({}, method: :post) do
  .p= :forgotten_email_address.t
  .p= text_field_tag :email, "", size: 50
  .p= submit_tag :reset_password.t